:root {
  --background-color: #f4d04e;
  --header-font-color: #111111;
  --text-font-color: #6b6b6b;
  --white: #ffffff;
}

.figtree-bold {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
  line-height: 150%;
  color: var(--header-font-color);
}

.figtree-medium {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 150%;
  color: var(--text-font-color);
}

.main {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 501px;
  background-color: var(--white);
  padding: 24px;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 8px 8px 0px #000000;
  gap: 24px;
}

.illustration {
  background-image: url(./assets/illustration-article.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -23px;
  width: 279px;
  height: 200px;
  border-radius: 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.title-card {
  background-color: var(--background-color);
  width: fit-content;
  padding: 4px 12px;
  border-radius: 4px;
  font-size: 12px;
}

.text-container span {
  font-size: 12px;
  color: var(--header-font-color);
}

.text-container h1 {
  font-size: 20px;
}

.text-container h1:hover {
  cursor: pointer;
  color: var(--background-color);
}

.text-container h1:active {
  color: var(--header-font-color);
}

.text-container p {
  font-size: 14px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.footer img {
  height: 32px;
  width: 32px;
}

.footer span {
  font-size: 14px;
}

.footer span:hover {
  cursor: pointer;
  color: var(--background-color);
}

.footer span:active {
  color: var(--header-font-color);
}

@media (min-width: 720px) {
  .card {
    width: 384px;
    height: 522px;
    border-radius: 20px;
  }

  .illustration {
    background-position: center;
    width: 336px;
    height: 200px;
  }

  .text-container span,
  .footer span,
  .title-card {
    font-size: 14px;
  }

  .text-container h1 {
    font-size: 24px;
  }

  .text-container p {
    font-size: 16px;
  }

  .footer img {
    height: 32px;
    width: 32px;
  }
}
